/**
 * tlvince.com main styles.
 * Copyright 2011-2012 Tom Vincent <http://tlvince.com/contact/>
 */

html
    overflow-y: scroll

body
  margin: 0 auto
  width: 35em
  background: base3
  font-family: sans-serif
  font-size: 1em

body, select, input, textarea
  color: base00

h1, h2, h3, h4, h5, h6
  font-family: serif
  font-weight: normal
  margin: 0

h1
  font-size: 2em
  margin-bottom: 0.2301em

h2
  font-size: 1.6em
  margin-bottom: 0.855em

h3
  font-size: 1.4em
  margin-bottom: 0.956em

h4
  font-size: 1.3em
  margin-bottom: 1.161em

h5, h6
  font-size: 1.2em
  margin-bottom: 1.238em

a, a:active
  text-decoration: none

a:hover
  text-decoration: underline

pre, code, kbd, samp
  background-color: base2
  border: 1px solid #CCC
  color: base01
  margin-bottom: 0.8125em

p, ol, ul
  padding: 0 0 0.8125em 0
  margin: 0
  line-height: 1.625em
  text-align: justify
  -webkit-hyphens: auto
  -moz-hyphens: auto
  hyphens: auto

ul, ol
  margin-left: 2em  

blockquote
  padding: 1.625em 1em
  font-style: italic
  margin: 0

blockquote:before
  content: "\201C"
  font-size: 3em
  margin-left: -0.625em
  line-height: 0

blockquote > p
  margin-top: -0.625em

.meta, footer, time, pre, code, kbd, samp
  font-size: 0.8em

hr
  border-top: thin solid base2
  margin: 0.8125em 0

header
  padding: 0 0 0.8125em
  margin: 0.4062em 0 1.625em

article > header
  margin-bottom: 0

footer
  margin: 1.625em 0

#breadcrumb
  float: left

nav
  float: right

nav li
  list-style: none
  display: inline
  padding-left: 0.8125em

img
  padding: 0.5em
  border: 1px solid base2
  background-color: white

.comments img
  padding: 0
  border: 0
  background-color: transparent

#mugshot
  float: right
  margin: 0.8125em 0 0 0.8125em
  line-height: 0

#abstract
  list-style: none
  margin-left: 0

